<h1>Calendar JS</h1>
<div>
    <p>Check repo for more examples. Simple library in vanilla JS, quite interesting and lightweight</p>
    <ul>
        <li><a href="https://calendar-js.com/" target="_blank">Main page</a></li>
        <li><a href="https://calendar-js.com/examples/index.html" target="_blank">Examples</a></li>
    </ul>
</div>

<div class="contents">
    <div #calendar1 id="calendar1" style="max-width: 800px;"></div>
    <br />
    <br />
    <div #calendar2 id="calendar2" style="max-width: 800px;"></div>
    <br />
    <br />
</div>