<div class="nav">
  <a routerLink="fullcalendar" routerLinkActive="selected">Full Calendar</a>
  <a routerLink="vanilla-calendar-pro" routerLinkActive="selected">Vanilla Calendar Pro</a>
  <a routerLink="schedule-x" routerLinkActive="selected">Schedule X</a>
  <a routerLink="calendar-js" routerLinkActive="selected">Calendar.js</a>
  <a routerLink="tuicalendar" routerLinkActive="selected">Tui Calendar</a>

  <!-- Discarded -->
  <a routerLink="datepickers" routerLinkActive="selected">Other: date picker</a>
</div>
<router-outlet></router-outlet>