<h1>fullcalendar</h1>

<p><strong>Disclaimer</strong> vertical display requires payment</p>
<ul>
    <li><a href="https://fullcalendar.io/demos" target="_blank">Demos</a></li>
    <li><a href="https://fullcalendar.io/docs/angular" target="_blank">Doc</a></li>
    <li><a href="https://www.npmjs.com/package/@fullcalendar/angular" target="_blank">Npmjs</a></li>
    <li><a href="https://fullcalendar.io/docs" target="_blank">Documentation</a></li>
    <li><a href="https://fullcalendar.io/docs/themeSystem" target="_blank">Theming</a></li>
    
</ul>
<div class="container">
    <full-calendar [options]="calendarOptions"></full-calendar>
</div>
<hr/>
<div class="container">
    <button (click)="toggleWeekends()">toggle weekends</button>
    <full-calendar [options]="calendar2Options"></full-calendar>
</div>
<hr/>
<div class="container">
    <full-calendar [options]="calendar3Options"></full-calendar>
</div>